<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-menu></app-menu>
    <div class="container">
        <h1>Usuarios</h1>
    <div class="buttons-orden">
        <div class="button-container">
            <button>
                <span>Importar Usuarios</span>
            </button>
            <button (click)="exportToExcel()">
                <span>Exportar usuarios</span>
            </button>
            <button>
                <span>Descargar Plantilla</span>
            </button>
            <button>
                <span>Agregar Usuario</span>
            </button>
        </div>
        <form class="search">
            <input type="search" id="search" name="search">
            <input type="submit" value="Buscar">
          </form>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">C.I.</th>
                <th scope="col">Nombres y Apellidos</th>
                <th scope="col">Carrera</th>
                <th scope="col">Nivel</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let usuario of data">
                <td>{{usuario.cedula}}</td>
                <td>{{usuario.nombre}} {{usuario.apellido}}</td>
                <td>{{usuario.carrera}}</td>
                <td>NIbel</td>
                <td>
                    <button class="image-button" >
                        <img src="./assets/edit.png" alt="Texto alternativo de la imagen">
                      </button>
                      <button class="image-button" (click)="confirmarEliminacion()">
                        <img src="./assets/delete.png" alt="Texto alternativo de la imagen">
                      </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
</html>
