<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-menu></app-menu>
    <div class="container">
        <h1>Candidatos</h1>
    <div class="buttons-orden">
        <div class="button-container">
            <button>
                <span>Agregar</span>
            </button>
            <button>
                <span>Imprimir</span>
            </button>
        </div>
        <form class="search">
            <input type="search" id="search" name="search">
            <input type="submit" value="Buscar">
          </form>
        </div>
        <p-table [value]="candidatos" [tableStyle]="{'min-width': '50rem'}"
         selectionMode="single" [(selection)]="selectedCandidato" dataKey="id">
        <ng-template pTemplate="header">
              <tr>
                <th scope="col">Logo</th>
                <th scope="col">Nombre y Apellidos</th>
                <th scope="col">Correo</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr [pSelectableRow]="item">
                <th scope="row">1</th>
                <td>{{item.datosPresiNombre}}</td>
                <td>{{item.datosPresiCorreo}}</td>
		<td>

                    <button class="image-button" (click)="abrirVentanaEdicion()">
                        <img src="./assets/edit.png" alt="Texto alternativo de la imagen">
                      </button>

                      <button class="image-button" (click)="confirmarEliminacion()">
                        <img src="./assets/delete.png" alt="Texto alternativo de la imagen">
                      </button>
                    <button routerLink="/info-candidato">
                        <span>Perfil</span>
                    </button>
              </tr>
            </ng-template>
          </p-table>
    </div>

</body>
</html>