<app-header></app-header>

<body>
    <div class="container">
        <div class="reset-form">
            <div class="image-container">
                <img src="https://cdn-icons-png.flaticon.com/512/6357/6357126.png" alt="">
            </div>

            <div class="form-container">
                <h2> <b> Resetear Contraseña </b></h2>


                <form [formGroup]="resetForm" class="p-fluid">
                    <label>Ingrese su Correo Electronico</label>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" formControlName="email">
                    </div>
                    <small id="colorAlert"
                        *ngIf="resetForm.controls['email'].errors && resetForm.controls['email'].touched">
                        El Campo es Requerido
                    </small>

                    <div class="text center">
                        <button (click)="clickCancel()" class="btn btn-danger">Cancelar</button>&nbsp;&nbsp;
                        <button (click)="onSubmit()" type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>