<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<app-header></app-header>
<body>
    
    <div class="container">
        <header>Instituto Superior Tecnológico de Turismo y Patrimonio</header>

        <form action="#" style="height: 460px;">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Registro de Candidato</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Nombre de la Lista</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <div class="input-container">
                            <label>Datos del Presidente</label>
                            <input type="text" placeholder="Nombre" required>
                            <input type="text" placeholder="Correo" required>
                            </div>
                        </div>

                        <div class="input-field">
                            <div class="input-container">
                            <label>Datos del Vicepresidente</label>
                            <input type="text" placeholder="Nombre" required>
                            <input type="text" placeholder="Correo" required>
                            </div>
                        </div>

                        <div class="input-field">
                            <label>Eslogan de la Lista</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <div class="input-container">
                                <label>Datos del Secretario/a</label>
                                <input type="text" placeholder="Nombre" required>
                                <input type="text" placeholder="Correo" required>
                                </div>
                        </div>

                        <div class="input-field">
                            <div class="input-container">
                                <label>Datos del Tesorero/a</label>
                                <input type="text" placeholder="Nombre" required>
                                <input type="text" placeholder="Correo" required>
                                </div>
                        </div>
                    </div>
                </div>
                    <div class="fields">
                        <div class="input-field">
                            <label>Número de la Lista</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <div class="input-container">
                                <label>Datos del Vocal 1</label>
                                <input type="text" placeholder="Nombre" required>
                                <input type="text" placeholder="Correo" required>
                                </div>
                        </div>

                        <div class="input-field">
                            <div class="input-container">
                                <label>Datos del Vocal 2</label>
                                <input type="text" placeholder="Nombre" required>
                                <input type="text" placeholder="Correo" required>
                                </div>
                        </div>

                        <div class="input-field">
                            <label>Logo de la Lista</label>
                            <input type="file" id="file-upload" accept=".png, .jpg, .jpeg" required>
                            
                        </div>

                        <div class="input-field">
                            <div class="input-container">
                                <label>Datos del Vocal 3</label>
                                <input type="text" placeholder="Nombre" required>
                                <input type="text" placeholder="Correo" required>
                                </div>
                        </div>

                        <div class="input-field">
                            <label>Registrar Propuesta</label>
                            <input type="text" required>
                        </div>
                    </div>

                    <button class="nextBtn">
                        <span class="btnText">Registrar Lista</span>
                    </button>

                    
                      
                </div> 
        </form>
        <div class="container-p">
            <div class="left">
                <button class="button-p" onclick="window.location.href = 'https://www.twitch.tv'">
                    <span class="image-container">
                      <img src="./assets/back.png" alt="Imagen" class="image-p">
                    </span>
                    <span class="text">Volver al Inicio</span>
                  </button>
            </div>
            <p>Artículo 11 del reglamento de elecciones del IST Yavirac.
                De las candidaturas. - Una vez efectuada la convocatoria a elecciones, el Secretario del Consejo Electoral receptará las candidaturas de los postulantes, dentro del plazo establecido en el cronograma de acuerdo a la ficha de inscripción que determine el Consejo Electoral.
                
                Las candidaturas deberán presentarse en lista, respetando la equidad de género, igualdad de oportunidades y equidad de conformidad a lo establecido en la Constitución de la República y en la Ley Orgánica de Educación Superior.</p>
          </div>
    </div>
    <div class="button-container">
        <button class="image-button">
          <span>Descargar
            <br>Reglamento</span>
          <img src="./assets/download.png" alt="Imagen Botón 1">
        </button>
        <button class="image-button">
          <span>Descargar
            <br>Ficha</span>
          <img src="./assets/download.png" alt="Imagen Botón 2">
        </button>
        <button class="image-button">
          <span>Descargar
            <br>Requisitos</span>
          <img src="./assets/download.png" alt="Imagen Botón 3">
        </button>
        <button class="image-button">
          <span>Adjuntar
            <br>Requisitos</span>
          <img src="./assets/attach.png" alt="Imagen Botón 4">
        </button>
      </div>
      
</body>
</html>