<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-menu></app-menu>
    <div class="container">
        <h1>Perfil del Candidato</h1>
        <div class="container-p">
            <div class="left">
                <button class="button-p" routerLink="/solicitud">
                    <span class="image-container">
                      <img src="./assets/back.png" alt="Imagen" class="image-p">
                    </span>
                    <span class="text">Volver al Inicio</span>
                  </button>
            </div>
        </div>
        <h1>Información</h1>
        <h3>Requisitos:</h3>
        <button>
            <span>Ver Requisitos</span>
        </button>
        <h3>Propuesta:</h3>
        <textarea class="input-s"></textarea>
        <button>
            <span>Observaciones</span>
        </button>
    </div>
</body>
</html>
